---
interface Props {
    array: Array<any>;
}

const { array } = Astro.props
---

<aside class="w-max h-full text-white p-2 sticky top-0">
    <ul>
      {array.map((header: any) => (
        <li><a href={`#${header}`}>{header}</a></li>
      ))}
    </ul>
</aside>